{% extends 'base.html' %}

{% block title %} Book's list {% endblock title %}
{% block header %} Book's's list {% endblock header %}

{% block body %}
<table class="table table-bordered border-primary">
    <thead>
        <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">actions</th>
        </tr> 
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>MArk</td>
            <td><a href="{% url 'book:book-det' obj.pk%}">{{ obj.name }} автор {{ obj.author }}</a></td>
            <td><a href="{% url 'book:book-edit' obj.pk %}"><i class="bi bi-pencil-fill"></i></a> 
                <a href="{% url 'book:book-det' obj.pk%}"><i class="bi bi-eye"></i></a>
                <a href="{% url 'book:book-del' obj.pk%}"><i class="bi bi-trash"></i></a></td>

        </tr>   
        {% endfor %}
    </tbody>
</table>
    
 {% endblock body %}