{% extends 'auth_base.html' %}



{% block title %}{% endblock title %}
{% block header %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'account:user-login' %}">
{% csrf_token %}
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{ form.username.label_tag }}</label>
    <input type="login" class="form-control" {{ form.username }} >
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">{{ form.password.label_tag }}</label>
    <input type="password" class="form-control" id="exampleInputPassword1" {{ form.password }} >
</div>
  

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock header %}