{% extends 'base.html' %}

{% block title %} Order's list {% endblock title %}
{% block header %} Кабинет менеджера {% endblock header %}

{% block body %}
<h2> Заказы</h2>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
              <th scope="col">name</th>
              <th scope="col">actions</th>
        </tr> 
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'orders:order-view' obj.pk%}">{{ obj.name }}</a></td>
            <td><a href="{% url 'orders:order-edit' obj.pk %}"><i class="bi bi-pencil-fill"></i></a> 
        </tr>   
        {% endfor %}
    </tbody>
</table>
<h2>Действия</h2>
<b><a href="{% url 'book:book-list' %}">Книги</a></b> <b><a href="{% url 'book:book-add' %}">Добавить</a></b><br>
<b><a href="{% url 'handbook:genre-list' %}">Жанры</a></b> <b><a href="{% url 'handbook:genre-add' %}">Добавить</a></b><br>
<b><a href="{% url 'handbook:auth-list' %}">Авторы</a></b> <b><a href="{% url 'handbook:auth-add' %}">Добавить</a></b><br>
<b><a href="{% url 'handbook:serie-list' %}">Серии</a></b> <b><a href="{% url 'handbook:serie-add' %}">Добавить</a></b><br>
<b><a href="{% url 'handbook:publisher-list' %}">Издательства</a></b> <b><a href="{% url 'handbook:publisher-add' %}">Добавить</a></b>
    
{% endblock body %}