{% extends 'base.html' %}

{% block title %} Order {% endblock title %}
{% block header %} Заказ {% endblock header %}

{% block body %}
<table class="table table-bordered border-primary">
    <thead>
        <tr>
              <th scope="col">name</th>
             
        </tr> 
    </thead>
    <tbody>
        {% for obj in object_list %}
        {% if obj.cart.customer == user %}
        <tr>
            <td><a href="{% url 'orders:order-view' obj.pk%}">{{ obj.name }}</a></td>
        </tr>   
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock body %}